/* Style for the About page */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.container h1 {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
}

.container p {
    font-size: 18px;
    line-height: 1.6;
    color: #666;
    margin-bottom: 30px;
}

.container h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 15px;
}

.container ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 30px;
}

.container li {
    font-size: 18px;
    color: #666;
    margin-bottom: 10px;
}

footer {
    position: sticky;
    height: 130px;
    background-color: black;
    color: white;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.brand img {
    width: 44px;
    padding: 0 8px;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.3rem;
    color: #333;
}

nav{
    font-family: 'Ubuntu',sans-serif;
}

nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: #333;
    color: white;
}

nav ul li {
    padding: 0 12px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #FFD700; /* Change to your desired hover color */
}

